

body {
 background: #f9e933;
}
header, main, footer {
 min-width: 855px;
}
header .container, main .container, footer .container {
 max-width: 855px;
 margin: auto;
}
header {
 background: white;
}
main {
 background: white;
}
#faq {
 width: 755px;
 margin-left: 50px;
 padding-top: 10px;
 padding-bottom: 20px;
}
#Q, #A {
 margin-top: 10px;
}
#Q {
 font-weight: bold;
}
#A {
 font-style: italic;
 margin-left: 25px;
}
header {
 background: white;
 overflow: auto;
}
header h1 {
 float: left;
 width: 570px;
}
header nav {
 float: right;
 width: 285px;
}
main h2 {
  width: 570px;
  font-weight: bold;
}